<app-header></app-header>

<div class="container-fluid pb-5">

    <div class="row d-flex mt-5">
        <h2 class="fw-bold text-primary text-center">MY CART</h2>
        <h5>Total Products: <span class="text-primary"> {{cartItem.length}}</span></h5>
        <h5>Total Price: <span class="text-primary">{{totalPrice}}</span></h5>

    </div>
    
    <hr>

    <div class="row px-5">
        
        <div class="column mt-5 d-flex justify-content-center flex-wrap gap-4">

            <div class="emptyMessage mt-5" *ngIf="emptyMessage">
                <h4>Cart Is Empty</h4>
            </div>
            
            <div class="card text-center text-capitalize" style="width: 18rem;" *ngFor="let item of cartItem;index as i">

                <div class="card-img">

                    <img src="{{item.productImage}}" class="card-img-top" alt="">
                </div>


                <div class="card-body">
                    <h5 class="card-title fs-3"></h5>

                    <div class="texts mt-3">
                        <p class="card-text"><span class="fw-semibold">category: {{item.productCategory}}</span></p>
                        <p class="card-text"><span class="fw-semibold">price: {{item.productPrice}} rs</span> </p>
                    </div>

                    <div class="action d-flex justify-content-center gap-3 mt-3">
                        <a href="#"><button class="btn btn-primary w-100">Buy Product</button></a>
                        <button class="btn btn-danger w-40" (click)="deleteCartItem(i)">Delete</button>
                    </div>
                </div>
            </div>
         
        </div>

    </div>

</div>

<!-- <div *ngIf="totalProducts > pSize">

    <pagination-controls (pageChange)="p = $event"></pagination-controls>

</div> -->