.container-fluid {
    background-color: rgb(245, 245, 245);
}

.column {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 10px rgb(173, 173, 173);
    padding: 25px 25px 15px 25px;
    border-radius: 10px;
    min-width: 30%;
}

p {
    font-size: 14px;
    margin-top: 15px;
}

button {
    width: 100%;
}

.mb-3 {

    position: relative;

}

i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.errorMessage span{
    font-size: 14px;
    color: red;
}